<html>

<head>
  <title>Item Details</title>
  <link href="{{ url_for('static', path='/styles.css') }}" rel="stylesheet">
</head>

<body>
  <h1>안녕? {{ data.username }} ! 로그인 했구나?!</h1>
  <button type="button" onclick="logout();">logout</button>

  <script type="text/javascript" src="http://code.jquery.com/jquery-3.5.1.min.js"></script>
  <script>
    function logout() {
      $.ajax({
        type:'get',   //post 방식으로 전송
        url:'/logout',   //데이터를 주고받을 파일 주소
        success : function(data){   //파일 주고받기가 성공했을 경우. data 변수 안에 값을 담아온다.
          if(data.status == 200)
          {
            window.location.reload();
          }
        }
      });
    }
  </script>
</body>

</html>